div {
    padding:0px;
    margin:0px;
}

#irpfChart {
    text-align: left;
}

.bar_chart .barbg {
    stroke: white;
    fill: white;
}

.bar_chart .barbg.selected {
    fill: lightblue;
}

.bar_chart .bar {
    stroke: none;
    fill: gray;
}

.bar_chart .bar.selected{
    stroke: white;
}

.tip rect{
    stroke: white;
    fill: black;
}

.tip text{
    text-anchor: start;
    stroke: none;
    fill: white;
}

